<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/materialize.min.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="blue-grey darken-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"
          ><%=header%><%if(quantum){%> : Quantum <%=quantum%> Second<%if(quantum>1){%>s<%}%><%}%></a
        >
        <ul class="right">
          <a href="/" title="Choose another algorithm"><i class="fas fa-grip-lines"></i></a>
        </ul>
      </div>
    </nav>
    <br />
    <br />
    <div class="container" style="margin-bottom: 30px">
      <table class="striped center">
        <thead>
          <tr>
            <th>Process Name</th>
            <th>Arrival Time</th>
            <th>Burst Time</th>
            <%if (priority){ %> <th> Priority </th> <% } %>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>
      <div class="row">
        <form class="form col s12">
          <div class="row">
            <div class="input-field col <% if(priority) {%><%= "s3" %><% }else{ %><%= "s4" %><% } %>">
              <input disabled id="process_name" placeholder="Process Name: 1" />
            </div>
            <div class="input-field col <% if(priority) {%><%= "s3" %><% }else{ %><%= "s4" %><% } %>">
              <input
                placeholder="Arrival Time"
                id="arrival_time"
                type="number"
                required
              />
            </div>
            <div class="input-field col <% if(priority) {%><%= "s3" %><% }else{ %><%= "s4" %><% } %>">
              <input
                placeholder="Burst Time"
                id="burst_time"
                type="number"
                min="1"
                required
              />
            </div>
            <% if(priority){ %>
            <div class="input-field col s3">
              <input
                placeholder="Priority"
                id="priority"
                type="number"
                min="1"
                required
              />
            </div>
            <% } %>
            <button type="submit" class="btn blue-grey darken-2 col s12">
              Add process
            </button>
          </div>
        </form>
      </div>
    </div>
    <div id="chart-container" style="margin-bottom: 55px">
      <div id="chart"></div>
    </div>
    <div class="container" style="margin-bottom: 50px">
      <hr / id="separate" style="display: none">
      <div style="clear: both">
        <h5 style="float: left" id="total-waiting"></h5>
        <h5 style="float: right" id="avg-waiting"></h5>
      </div>
    </div>
    <br />
    <br />
    <script src="<%= script %>"></script>
  </body>
</html>
